<center><h1>Blocipedia: Social, Markdown Wikis</h1></center>


<div class="jumbotron">

<h2>
  Create and share Markdown Wikis
</h2>
  <%= link_to "sign up now!", "#", class: "btn btn-lg btn-primary" %>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>

<center>
<div class="row">
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p style="white">create as many public wikis as you want!</p>
    <p><a class="btn btn-default btn-primary" href="#" role="button">Free Plan &raquo;</a></p>
  </div>
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p>Create private wikis!</p>
    <p><a class="btn btn-default btn-primary" href="#" role="button">Premium Plan &raquo;</a></p>
 </div>
</center>